#container
{
    text-align: center;
    margin: 15px;

}

ion-icon
{
    font-size: 1.5em;

}

ion-card
{
    
    

}


ion-select
{
    border: solid 1px black;
    margin: 1em;
    text-align: left;
}

