<ion-header>
  <ion-toolbar>
    <ion-title>Tus sucursales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">

    <ion-grid>
      <ion-row>

        <ion-col>
          <ion-icon name="home" size="large"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>

        <ion-col>
          <ion-title>Tus sucursales</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-card>



      <ion-card-header>
        <ion-card-title>Si no hay sucursales, agregar el primer punto de venta, si no se muestra agregar sucursal
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>

          <ion-row>
            <ion-col><ion-button>Agregar sucursal</ion-button></ion-col>
          </ion-row>

          <ion-row>
            <ion-col><ion-button>Ver sucursales</ion-button></ion-col>
          </ion-row>

          <ion-row>
            <ion-col><ion-button>Menu configuración</ion-button></ion-col>
          </ion-row>

        </ion-grid>


      </ion-card-content>
    </ion-card>
  </div>
</ion-content>