<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inventory"></ion-back-button>
    </ion-buttons>
    <ion-button slot="end" (click)="onUpdateProduct()">
      <ion-icon name="save-outline"></ion-icon>
    </ion-button>
    <ion-button slot="end" (click)="onDeleteProduct()">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
    <ion-title>{{ product.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label slot="start">Name: </ion-label>
          <ion-input [readonly]="!editables.name" [(ngModel)]="product.name" (ionBlur)="blur()"
            [ngClass]="{selected: editables.name}"></ion-input>
          <ion-icon slot="end" name="pencil" (click)="onEdit('name')"></ion-icon>
        </ion-item>
        <hr>
        <ion-item lines="none">
          <ion-label>
            Description:
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-textarea [readonly]="!editables.desc" [(ngModel)]="product.description" (ionBlur)="blur()"
            [ngClass]="{selected: editables.desc}"></ion-textarea>
          <ion-icon slot="end" name="pencil" (click)="onEdit('desc')"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <h3>Presentaciones</h3>
        </ion-item>
        <app-presentations [presentations]="product.presentations"></app-presentations>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary" (click)="addPresentation()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>