<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inventory"></ion-back-button>
    </ion-buttons>
    <ion-button slot="end" 
    (click)="onSendProduct()"
    [disabled]="!newProductForm.valid"
    ><ion-icon name="exit-outline" ></ion-icon>
    </ion-button>
    <ion-title>New product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content calss="fullscreen">
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="newProductForm">
        <ion-item lines="none" >
          <ion-label slot="start" >Name: </ion-label>
          <ion-input
          name="name"
          formControlName="name"
          placeholder="Product name"
          ></ion-input>
        </ion-item>
        <hr>
        <ion-item lines="none">
          <ion-label>Description: </ion-label>
        </ion-item>
        <ion-item>
          <ion-textarea
          formControlName="description"
          name="desc"
          placeholder="Product description"
          ></ion-textarea>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Quantity:</ion-label>
          <ion-input
          formControlName="size"
          name="quantity"
          placeholder="Quantity"
          type="number"
          ></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Unitary price:</ion-label>
          <ion-input
          formControlName="UP"
          name="UP"
          type="number"
          placeholder="Unitary price"
          ></ion-input>
        </ion-item>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
