#principal{
    text-align: center;
}

#icon{
    font-size: 80px;
}

#cardtxt{
    text-align: center;
    font-size: medium;
}

#card{
    text-align: center;
}

#disclaimer{
    text-align: center;
    font-size: smaller;
}